.mat-table {
  width: 100%;
  &.table-controls {
    th:last-child,
    td:last-child {
      text-align: right;
    }
  }
}

.container {
  position: relative;
}

.table-container {
  position: relative;
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
}
