<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-card class="content-card">
    <mat-card-header>
      <mat-card-title>Item details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Basic">
          <p>Basic data of the selected item.</p>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Details">
          <p>Details of the selected item.</p>
          <p>...</p>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions fxLayout="row-reverse">
      <button mat-button routerLink="/">Cancel</button>
      <button mat-button>Save</button>
    </mat-card-actions>
  </mat-card>
</div>
