<div fxLayout="row" fxLayoutGap="1rem" [formGroup]="priceForm">
  <mat-form-field fxFlex>
    <input type="number" formControlName="value" matInput placeholder="Price" >
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency" >
      <mat-option [value]="null">-</mat-option>
      <mat-option *ngFor="let currency of currencies" [value]="currency.value">
        {{currency.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
